.footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 0px;
    font-size: 1rem;
    width: 100%;
} 

.footer a{
    text-decoration: none;
    color: #57BCDA;
}
